<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <ng-form>
    <div class="col-6  text-center text-white" style="font-size: 120%">
<!--        COUNTRY            -->
        <br>
        <label class="" for="countryId">Country:</label>
        <br>
        <select [(ngModel)]="garbage.country" name="name_country" class="custom-select  w-100" id="countryId">
          <option selected value="kz">Kazakhstan</option>
          <option value="usa">USA</option>
          <option value="turkey">Turkey</option>
          <option value="italy">Italy</option>
        </select>
        <br>
        <br>
<!--        CITY                -->
        <label class="w-100" for="cityId">City:</label>
        <br>
        <select [(ngModel)]="garbage.city" name="name_city" class="custom-select w-100" id="cityId">
          <option class="form-select" selected>Choose...</option>
          <option value="{{city}}" *ngFor="let city of kz">{{city}}</option>
        </select>
        <br>
        <br>
<!--        ADDRESS              -->
        <div class="form-group">
          <label for="addressGarbage">Address:</label>
          <input [(ngModel)]="garbage.address" name="name_address" type="text" class="form-control" id="addressGarbage"  placeholder="Enter address">
        </div>
        <br>
<!--        РАЗМЕР МУСОРА -->
        <div class="form-group">
          <label for="sizeGarbage">Garbage size:</label>
          <input [(ngModel)]="garbage.size" name="name_size" type="text" class="form-control" id="sizeGarbage" placeholder="Enter size">
        </div>
        <br>
        <!--         -->
        <div class="form-group">
          <label for="phoneNumber">Phone number:</label>
          <input [(ngModel)]="garbage.userPhoneNumber" name="name_phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="(XXX)XXX-XXXX">
        </div>
        <br>
        <br>

        <button type="submit" class="btn btn-success" (click)="createGarbagePoint(garbage)">Send</button>

    </div>
    </ng-form>
    <div class="col-3"></div>

  </div>
</div>
<app-footer></app-footer>
