<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/carousel/p1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p7.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p8.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p9.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p10.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p11.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p12.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p13.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p14.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p15.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p16.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/carousel/p17.png" class="d-block w-100" alt="...">
      </div>
    </div>





    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Следующий</span>
    </button>
  </div>
</div>
